:root {
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--hero-color:#2F303A ;
}


body {
color:#757575 ;
background-color: #FFFFFF ;

font-family: Roboto, sans-serif;
font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}
a:hover{
    color: var(--accent-color);
}

.section-title,
.comand-title,
.skils-title
 {
    color:var(--title-text-color);
}

.btn,
.btn-portfolio {
    cursor: pointer;
}


/* цвет основного текста #757575 */

/* вторичный цвет текста #212121 */

/* белый цвет #FFFFFF */

/* акцент #2196F3 */

/* цвет героя #2F303A */

