:root {
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--hero-color:#2F303A ;
}


body {
color:#757575 ;
background-color: #FFFFFF ;

font-family: Roboto, sans-serif;
font-style: normal;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}
a:hover{
    color: var(--accent-color);
}

.section-title,
.comand-title,
.skils-title,
.img-title
 {
    color:var(--title-text-color);
}

.btn,
.btn-portfolio {
    cursor: pointer;
}


/* цвет основного текста #757575 */

/* вторичный цвет текста #212121 */

/* белый цвет #FFFFFF */

/* акцент #2196F3 */

/* цвет героя #2F303A */


/* шапка сайта */

.head {
position: absolute;
width: 1600px;
height: 80px;
}

.logo {
color: #212121;

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}
.logo-color {
    color: #2196F3 ;
}

/* навигация сайта */

.site-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.site-nav .link {
    color: var(--title-text-color) ;

}

.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color);
}

.site-nav .link.current {
   color: #2196F3;
}

.nav-studio{
position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}

.nav-portfolio {
    position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}

.nav-contakt{
    position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;


font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.link-gmail{
    position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}

.link-phone {
    position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}


/* Герой */

.section-hero {
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: var(--hero-color);
}

h1 {
position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 156px;
font-weight: 900;
font-size: 44px;
line-height: 1.3;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.section-hero >button {
background-color: var(--accent-color);
color: #FFFFFF;
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 350px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

/* Достоинства */

 .slogan-one >h3{
position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;
font-weight: bold;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.slogan-one >p{
    position: absolute;
width: 270px;
height: 75px;
left: 215px;
top: 800px;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.slogan-two >h3 {
position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 774px;
font-weight: bold;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.slogan-two >p {
    position: absolute;
width: 270px;
height: 75px;
left: 515px;
top: 800px;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.slogan-three >h3 {
position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 774px;
font-weight: bold;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.slogan-three >p {
position: absolute;
width: 270px;
height: 75px;
left: 815px;
top: 800px;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.slogan-four >h3 {
position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 774px;
font-weight: bold;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.slogan-four >p {
position: absolute;
width: 270px;
height: 75px;
left: 1115px;
top: 800px;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}



/* Чем мы занимаемся */

.skils-title {
position:absolute;
width: px;
height: 42px;
left: 612px;
top: 933px;
font-size: 36px;
line-height: 1.7;
text-align: center;
letter-spacing: 0.03em;

}

.img-box1 {
    position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1061px;
}

.img-img {
    position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1061px;
}

.img-box3 {
    position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1061px;
}


/* Наша команда */

.section-comand {
position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1431px;

background: #F5F4FA;
}

.comand-title {
position:fixed
width: 264px;
height: 42px;
left: 668px;
top: 28px;
font-size: 36px;
line-height: 1.7;
text-align: center;
letter-spacing: 0.03em;
}

.img-igor {
    position: absolute;
text-align: center;
width: 270px;
height: 368px;
left: 215px;
top: 120px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.img-olga{
   position: absolute;
   text-align: center;
width: 270px;
height: 368px;
left: 515px;
top: 120px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

.img-nik {
   position: absolute;
   text-align: center;
width: 270px;
height: 368px;
left: 815px;
top: 120px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.img-mik {
 position: absolute;
 text-align: center;
width: 270px;
height: 368px;
left: 1115px;
top: 120px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

/* Футер */

footer { 
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}

.footer >a{
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 60px;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}


.footer > address  p{
   position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 98px;
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-gmail {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 142px;
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.footer-phone {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 172px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}


/* Portfolio */
.section-portfolio .title {
    color: var(--title-text-color);
} 
/* секция кнопок */
.btn-portfolio {
    color:var(--title-text-color);
    background-color: #F5F4FA;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}


/* основной контент */

.btn-all {
    position: absolute;
width: 73px;
height: 38px;
left: 495px;
top: 174px;
}

.btn-web {
    position: absolute;
width: 128px;
height: 38px;
left: 576px;
top: 174px;
}

.btn-soft{
    position: absolute;
width: 145px;
height: 38px;
left: 712px;
top: 174px;
}

.btn-diz{
    position: absolute;
width: 103px;
height: 38px;
left: 865px;
top: 174px;
}

.btn-mrct {
 position: absolute;
width: 130px;
height: 38px;
left: 976px;
top: 174px;
}


.pic-tehno {
    position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 262px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.pic-nogs {
    position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 262px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.pic-seafood{
    position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 262px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.pic-prime {
    position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 696px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.pic-boxes {
    
position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 696px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.pic-ihnb{
    position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 696px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.pic-le {
    position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 1130px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.pic-lab {
    position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 1130px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.pic-gb {
    position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 1130px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}